html,
body {
    margin: 0;
    font-family: arial, sans-serif;
}

/* navbar */
nav {
    top: 0;
    height: 50px;
    left: 0;
    right: 0;
    background-color: #7082bd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: sticky;
    z-index: 999;
}


nav li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 0.7em;
    padding: 0.3em;
    border-radius: 0.5em;

}

nav li:hover, .home-link:hover {
    text-decoration: underline white;
    background-color: #6378bd;

}

nav ul img {
    max-width: 2em;
    height: 100%;
    display: inline-block;
}

nav ul {
    float: right;
    padding-right: 1em;
    padding-left: 0;
}


nav a {
    color: white;
    text-decoration: none;
}





/* main */
main {
    margin: 8px;

}

/* inbox */

.inbox-main-div {
    margin-left: 10%;
    width: 80%;
}




.ask-notification {
    margin-bottom: 1em;

}

.ask-bubble {
    background-color: #d3d3d3;
    padding: 0.05em;
    padding-left: 0.5em;
    max-width: 400px;
    margin-bottom: 1em;
}

.ask-bubble p {
    color: #5b5b5b;
}

.answer-button {
    background-color: #47495b;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.answer-button:hover {
    background-color: #363743;
}


/* user (note: ask-bubble styles are used on the user page.) */



.content {
    margin-left: 10%;
    width: 80%;
}

.user-handle {
    color: #303030;
    position: relative;
    bottom: 0.5em;

}

button {
    background-color: #47495b;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
}

button:hover {
    background-color: #363743;
}

button[disabled] {
    background-color: #363743;
}

.user-follow-button {
    float: right;
    position: relative;
    top: 1em;
}

.user-profile-picture {
    width: 3em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.4em;
}

.user-info-pfp {
    width: 4em;
}

.user-info-card {
    width: 55%;
    margin-bottom: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 1em;
    padding-right: 2em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 2em;
}

.user-ask-form label {
    display: block;
}

.user-ask-form button {
    display: block;
}

.user-ask-form textarea {
    width: 50%;
    height: 5em;
    margin-bottom: 1em;
}

.user-ask-form,
.post-comment-form {
    margin-bottom: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 60%;
    padding: 2em;
}

.post-card {
    margin-bottom: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 60%;
    padding: 2em;
}



.post-card .comments-link {
    display: block;
    color: gray;
    margin-top: 1em;
    position: relative;
    top: 1em;
}



/* post (note: also uses ask-bubble and post-card) */

.post-comment-form button {
    display: block;
    margin-top: 1em;
}

.post-comment-form textarea {
    width: 50%;
    height: 5em;
}

.post-header a,
.post-header p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 1em;
}

.post-header p {
    margin: 0;
    /* Reset margin */
    position: relative;
    top: 1.2em;
}


.header-handle {
    color: rgb(66, 87, 108);
    margin-right: 1em;
}


.header-username {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 0.2em;
}

.header-username:hover {
    text-decoration: underline;
}

.post-card header {
    position: relative;
    bottom: 1em;
}

/* answer page (uses post-card) */

.answer-form button {
    display: block;
}

.answer-form textarea {
    height: 5em;
    width: 40%;
    margin-bottom: 1em;
}

/* login/register */

.login-form label,
.login-form input[type=text],
.login-form input[type=password] {
    display: block;
}

.login-form label,
.login-form input {
    margin-bottom: 1em;
}

.login-form input[type=text],
.login-form input[type=password] {
    width: 30%;
    height: 2em;
}

.login-form button {
    margin-top: 1em;
}



@media only screen and (max-width: 600px) {
    .post-card, .user-ask-form, .post-comment-form {
        width: 80%;
    }

    .post-comment-form textarea {
        width: 70%;
    }
} 

@media only screen and (max-width: 250px) {
    .navbar-logo {
        display: none;
    }
}